.header {
    height: 37vw;
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-image: url("/home_bg.png");
    background-attachment: fixed;
    background-size: 100%;
    background-position-y: 55px;
    background-repeat: no-repeat;
    align-items: center;
    padding: 0px 16%;
    margin-top: 45px;
    justify-content: center;
}
.front_texts {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: -40px;
}
.front_texts .para {
    padding: 0 20px;
    margin: 0 auto;
    max-width: 500px;
    text-align: center;
    color: #fff;
}
.front_texts .para h2 {
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
    color: #ffffff;
    padding: 0;
    margin: 20px 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.front_texts .para p {
    line-height: 30px;
    margin-bottom: 40px;
}
.front_texts .para p span {
    color: #ffffff;
    font-weight: 700;
}
.front_texts .para a {
    padding: 12px 20px;
    background: #b7aa69;
    color: #fff;
    border-radius: 5px;
}
.values {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 64%;
    background-color: #fff;
    border-radius: 9px;
    padding: 5px 2%;
    bottom: -50px;
    left: 18%;
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.187);
}
.value {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
}
.value h3 {
    color: #C8BA70;
}
.value .texts {
    padding: 10px 20px;
    line-height: 10px;
}
.section {
    margin: 5% 0;
}
section .heading {
    text-align: center;
    padding: 20px;
}
section .heading h1 {
    color: #C8BA70;
    font-weight: 600;
}
.section .service,
.section .service2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 0;
}
.section .service .texts,
.section .service2 .texts {
    width: 50%;
    padding: 6% 6% 6% 18%;
    background-color: black;
    color: rgb(112, 112, 112);
    line-height: 30px;
}
.section .service2 .texts {
    padding: 6% 18% 6% 6%;
}
.section .service .texts h3,
.section .service2 .texts h3 {
    color: #C8BA70;
}
.section .service .img {
    margin: 30px;
    margin-right: 18%;

}
.section .service2 .img {
    margin-left: 18%;
    margin-right: 0;
}
.section .actions {
    display: flex;
    width: fit-content;
    margin: auto;
    justify-content: center;
    border: 1px solid #000000;
}
.section .actions a {
    padding: 13px 35px;
    background: #b7aa69;
    color: #fff;
    margin: 20px;
    border-radius: 3px;
}
.section .actions a:hover {
    background: #000000;
}
.testimonials {
    padding: 5% 0;
    width: 64%;
    margin: auto;
}
.slider {
    overflow: hidden;
}
.slide {
    text-align: center;
    line-height: 30px;
    display: none;
    animation: slide 8s linear infinite;
}
@keyframes slide {
    0% {transform: translateX(100%);}
    10% {transform: translateX(0);}
    90% {transform: translateX(0%);}
    100% {transform: translateX(-100%);}
}
.circles {
    text-align: center;
}
.circles span {
    margin: 5px;
    font-size: 20px;
    border-radius: 50%;
}
@media screen and (max-width: 1050px) {
    .header {
        padding: 0 8%;
    }
    .values {
        width: 80%;
        left: 10%;
    }
    .section .service .texts,
    .section .service2 .texts {
        width: 50%;
        padding: 3% 3% 3% 10%;
        background-color: black;
        color: rgb(112, 112, 112);
        line-height: 30px;
    }
    .section .service2 .texts {
        padding: 3% 10% 3% 3%;
    }
    .section .service .img {
        margin: 30px;
        margin-right: 10%;
    
    }
    .section .service2 .img {
        margin-left: 10%;
        margin-right: 0;
    }
    .testimonials {
        width: 80%;
    }
}
@media screen and (max-width: 800px) {
    .header {
        height: 57vw;
        background-size: cover;
        background-position-x: 50%;
        flex-wrap: wrap;
    }
    .values {
        bottom: -50%;
    }
    /* .front_texts {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        padding: 10px;
        position: fixed;
        top: 10px;
        bottom: auto;
        left: -4px;
        z-index: 1000000;
    } */
    .section {
        margin-top: 160px;
    }
    .content {
        flex-wrap: wrap;
        justify-content: center;
    }
    .content .content_box {
        width: 80%;
        padding: 10px;
        margin: 10px 0;
    }
}
@media screen and (max-width: 500px) {
    .header {
        height: 500px;
        background-attachment: scroll;
        background-position-y: 0;
    }
    .values {
        display: none;
    }
    .section {
        margin-top: 20px;
    }
    .section .service,
    .section .service2 {
        flex-wrap: wrap;
        margin: 0 5%;
    }
    .section .service .texts,
    .section .service2 .texts {
        width: 100%;
        padding: 6% 10%;
        background-color: black;
        color: rgb(112, 112, 112);
        line-height: 30px;
    }
    .section .service .img,
    .section .service2 .img {
        margin: 20px auto;
        margin-right: auto;
        order: 2;
    }
    .section .actions{
        width: 85%;
        justify-content: space-evenly;
    }
    .section .actions a{
        padding: 10px;
        margin: 5px;
    }
}