.msgs {
    width: 85%;
    margin: 20px auto;
    padding: 20px 5%;
    background: #121212;
}
.heading {
    text-align: center;
    margin: 3%;
}
.heading h1 {
    color: #C8BA70;
    font-weight: 600;
    text-align: center;
    padding: 10px;
    line-height: 15px;
}
.heading p {
    font-size: 20px;
    font-weight: 400;
}
.body {
    background: #1f1f1f;
    padding: 30px;
}
.msg {
    border: 1px solid #C8BA70;
    padding: 5px 20px;
    margin: 10px 0;
}
.msg h2 {
    color: #C8BA70;
    text-transform: uppercase;
}