.header {
    height: 24vw;
    display: flex;
    justify-content: center;
    background-image: url("/home_bg.png");
    background-attachment: fixed;
    background-size: 100%;
    background-repeat: no-repeat;
    align-items: center;
    padding: 0px 16%;
    justify-content: center;
}
.header h2 {
    font-weight: 700;
    font-size: 40px;
    color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.heading {
    margin-top: 10%;
    text-align: center;
    color: #C8BA70;
}
.contents {
    width: 64%;
    margin: 5% auto;
    text-align: center;
}
.contents .project {
    padding: 0;
    text-align: left;
    display: flex;
}
.contents .project img {
    width: 50%;
}
.contents .project .about {
    text-align: left;
    width: 50%;
    padding: 5%;
    background-color: black;
    line-height: 15px;
}
.contents .project:nth-child(even) img {
    order: 2;
}
.contents .project:nth-child(even) .about {
    order: 1;
}
.contents .project .about h2 {
    margin: 20px 0;
    color: #C8BA70;
    line-height: 30px;
}
.contents .project .about p {
    line-height: 30px;
    color: #d5d5d5;
}
.contents .project .about .links {
    margin: 30px 0;
}
.contents .project .about a {
    padding: 10px;
    margin: 30px 15px 30px 0;
    border: 1px solid #C8BA70;
    color: #C8BA70;
    line-height: 53px;
}

@media screen and (max-width: 1000px) {
    .contents .project {
        flex-wrap: wrap;
    }
    .contents .project .about {
        width: 100%;
        padding: 5px;
    }
}
@media screen and (max-width: 900px) {
    .header {
        height: 250px;
        background-size: cover;
        background-position-x: 50%;
    }
    .contents .project {
        padding: 20px;
    }
    .contents .project img {
        width: 100%;
    }
    .contents .project .about {
        padding: 10px 20px;
    }
    .contents .project:nth-child(even) img {
        order: 1;
    }
    .contents .project:nth-child(even) .about {
        order: 2;
    }
}
@media screen and (max-width: 500px) {
    .contents {
        width: 100%;
    }
    .contents .project .about a {
        margin: 5px;
        padding: 5px;
    }
}